kodnest-csr-2022
Stream
Classwork
People
kodnest-csr-2022
kodnest-csr-2022
Upcoming
Due today
11:59 PM – Debugging Assignment - 16
Due tomorrow
11:59 PM – Data Structures Project Documentation Assignment

Announce something to your class
Assignment: "Data Structures Project Documentation Assignment"
Kalididdi Jayarohit Varma posted a new assignment: Data Structures Project Documentation Assignment
Created YesterdayYesterday
Assignment: "Debugging Assignment - 16"
Kalididdi Jayarohit Varma posted a new assignment: Debugging Assignment - 16
Created Dec 10Dec 10

Announcement: "Class: Programming - August Batch Start…"
Prathiba R
Created Dec 10Dec 10
Class: Programming - August Batch
Start Time: December 10, 2022
Meeting Recording link:  https://www.youtube.com/watch?v=BO5MtGESIpk

Class: Aptitude Doubt session - August Batch
Start Time: December 10, 2022
Meeting Recording link: https://www.youtube.com/watch?v=njpAcCjYdCs

Programming Aug A1+A2+A3+Aug_Online batch 10/12/2022
YouTube video   ‪1 hour 48 minutes‬

Aptitude Doubt Session Aug A1+A2+A3+Aug_Online batch 10/12/2022
YouTube video   ‪1 hour 14 minutes‬


Announcement: "Class: Java - August Batch Start Time:…"
Prathiba R
Created Dec 9Dec 9
Class: Java - August Batch
Start Time: December 09, 2022
Meeting Recording link:  https://www.youtube.com/watch?v=QKU60F3LzW4


Class: WEB - August Batch
Start Time: December 09, 2022
Meeting Recording link:https://www.youtube.com/watch?v=nMtQBIboyXE

Web Class August (A1,A2,A3) Batch 2022 - 09/12/2022
YouTube video   ‪2 hours 7 minutes‬

Java Class August (Online,A1,A2,A3) Batch 2022 - 09/12/2022
YouTube video   ‪1 hour 41 minutes‬

Material: "PORTFOLIO"
Kavyashree M R posted a new material: PORTFOLIO
Created Dec 9Dec 9

Announcement: "Class: Java - August Batch Start Time:…"
Prathiba R
Created Dec 8Dec 8
Class: Java - August Batch
Start Time: December 08, 2022
Meeting Recording link: https://www.youtube.com/watch?v=ggWhWZGkfEw

Class: Web - August Batch
Start Time: December 08, 2022
Meeting Recording link:https://www.youtube.com/watch?v=xH-qN022MEI

Java Class August (Online,A1,A2,A3) Batch 2022 - 08/12/2022
YouTube video   ‪1 hour 47 minutes‬

Web Class August (A1,A2,A3) Batch 2022 - 08/12/2022
YouTube video   ‪2 hours 4 minutes‬

Assignment: "Debugging Assignment - 15"
Kalididdi Jayarohit Varma posted a new assignment: Debugging Assignment - 15
Created Dec 8Dec 8

Announcement: "Class: Java - August Batch Start Time:…"
Prathiba R
Created Dec 7Dec 7
Class: Java - August Batch
Start Time: December 07, 2022
Meeting Recording link: https://www.youtube.com/watch?v=JaP7lMKXyXY

Class: Web - August Batch
Start Time: December 07, 2022
Meeting Recording link:https://www.youtube.com/watch?v=Kehc9QjqAHQ

Web Class August (A1,A2,A3) Batch 2022 - 07/12/2022
YouTube video   ‪2 hours 3 minutes‬

Java Class August (Online,A1,A2,A3) Batch 2022 - 07/12/2022
YouTube video   ‪44 minutes‬

Assignment: "JAVA Assignment 06-07-2022"
Kalididdi Jayarohit Varma posted a new assignment: JAVA Assignment 06-07-2022
Created Dec 7Dec 7

Announcement: "Class: Java - August Batch Start Time:…"
Shivani Neelkanth Gurumitkal
Created Dec 6Dec 6
Class: Java - August Batch
Start Time: December 06, 2022
Meeting Recording link: https://www.youtube.com/watch?v=zg67sLCegCM


Class: Web - August Batch
Start Time: December 06, 2022
Meeting Recording link: https://www.youtube.com/watch?v=j6BDvVjpOyU

Java Class August (Online,A1,A2,A3) Batch 2022 - 06/12/2022
YouTube video   ‪2 hours 2 minutes‬

Web Class August (A1,A2,A3) Batch 2022 - 06/12/2022
YouTube video   ‪1 hour 56 minutes‬


Announcement: "Class: Java - August Batch Start Time:…"
Shivani Neelkanth Gurumitkal
Created Dec 5Dec 5
Class: Java  - August Batch
Start Time: December 05, 2022
Meeting Recording link: https://www.youtube.com/watch?v=UKHIb_V2j3I


Class: Web - August Batch
Start Time: December 05, 2022
Meeting Recording link: https://www.youtube.com/watch?v=xymXB0f5VDU

Java Class August (Online,A1,A2,A3) Batch 2022 - 05/12/2022
YouTube video   ‪2 hours 5 minutes‬

Web Class August (A1,A2,A3) Batch 2022 - 05/12/2022
YouTube video   ‪2 hours‬


Announcement: "Class: Verbal- August Batch Start Time:…"
Shivani Neelkanth Gurumitkal
Created Dec 5Dec 5
Class: Verbal- August Batch
Start Time: December 03, 2022
Meeting Recording link: https://www.youtube.com/watch?v=aVw-_FOeNWg

Verbal Class August (Online,A1,A2,A3), September (A1,A2) Batch 2022 - 03/12/2022
YouTube video   ‪2 hours 14 minutes‬


Announcement: "Class: Programming + Aptitude - August…"
Shivani Neelkanth Gurumitkal
Created Dec 3Dec 3
Class: Programming + Aptitude - August Batch
Start Time: December 03, 2022
Meeting Recording link: https://www.youtube.com/watch?v=U1kkfM2jmfI

Programming + Aptitude Class August (Online,A1,A2,A3) Batch 2022 - 03/12/2022
YouTube video   ‪2 hours 49 minutes‬

Material: "CGI GROOMING SESSION"
Ankit Singhal posted a new material: CGI GROOMING SESSION
Created Dec 3Dec 3

Announcement: "Class: Programming - August Batch Start…"
Shivani Neelkanth Gurumitkal
Created Dec 2Dec 2
Class: Programming  - August Batch
Start Time: December 02, 2022
Meeting Recording link: https://www.youtube.com/watch?v=GPpVPKCiijc


Class: Web - August Batch
Start Time: December 02, 2022
Meeting Recording link: https://www.youtube.com/watch?v=Rhji95sYIng

Programming Class August (Online,A1,A2,A3) Batch 2022 - 02/12/2022
YouTube video   ‪1 hour 43 minutes‬

Web Class August (A1,A2,A3) Batch 2022 - 02/12/2022
YouTube video   ‪2 hours 2 minutes‬

Material: "PROJECT DETAILS "
Yashaswi Kushal posted a new material: PROJECT DETAILS
Created Dec 1Dec 1

Announcement: "Class: Java - August Batch Start Time:…"
Shivani Neelkanth Gurumitkal
Created Dec 1Dec 1
Class: Java - August Batch
Start Time: December 01, 2022
Meeting Recording link: https://www.youtube.com/watch?v=6w44kmiOTBc


Class: Web - August Batch
Start Time: December 01, 2022
Meeting Recording link: https://www.youtube.com/watch?v=S6MduVJ0b3A

Java Class August (Online,A1,A2,A3) Batch 2022 - 01/12/2022
YouTube video   ‪2 hours 13 minutes‬

Web Class August (A1,A2,A3) Batch 2022 - 01/12/2022
YouTube video   ‪2 hours 3 minutes‬


Announcement: "Class: Java - August Batch Start Time:…"
Shivani Neelkanth Gurumitkal
Created Nov 30Nov 30
Class: Java - August Batch
Start Time: November 30, 2022
Meeting Recording link: https://www.youtube.com/watch?v=IdkTV0NdO50


Class: Web - August Batch
Start Time: November 30, 2022
Meeting Recording link: https://www.youtube.com/watch?v=Gu7KdCBxvPY

Java Class August (Online,A1,A2,A3) Batch 2022 - 30/11/2022
YouTube video   ‪2 hours 15 minutes‬

Web Class August (A1,A2,A3) Batch 2022 - 30/11/2022
YouTube video   ‪2 hours 6 minutes‬

Assignment: "Debugging Assignment -14"
Kalididdi Jayarohit Varma posted a new assignment: Debugging Assignment -14
Created Nov 30Nov 30
Assignment: "Java Assignment - 29-11-2022"
Kalididdi Jayarohit Varma posted a new assignment: Java Assignment - 29-11-2022
Created Nov 30Nov 30

Announcement: "Class: Java - August Batch Start Time:…"
Shivani Neelkanth Gurumitkal
Created Nov 29Nov 29
Class: Java - August Batch
Start Time: November 29, 2022
Meeting Recording link:https://www.youtube.com/watch?v=081O1lSDwEI


Class: Aptitude - August Batch
Start Time: November 29, 2022
Meeting Recording link: https://www.youtube.com/watch?v=r3ACo1FgIIk

Java Class August (Online,A1,A2,A3) Batch 2022 - 29/11/2022
YouTube video   ‪2 hours 5 minutes‬

Aptitude Class August (A1,A2,A3) Batch 2022 - 29/11/2022
YouTube video   ‪2 hours‬


Announcement: "Class: Java + Programming - August…"
Shivani Neelkanth Gurumitkal
Created Nov 28Nov 28
Class: Java + Programming - August Batch
Start Time: November 28, 2022
Meeting Recording link: https://www.youtube.com/watch?v=F8bWmE20kQw

Class: Web - August Batch
Start Time: November 28, 2022
Meeting Recording link: https://www.youtube.com/watch?v=hpc3rPlao6o

Java + Programming Class August (Online,A1,A2,A3) Batch 2022 - 28/11/2022
YouTube video   ‪2 hours 31 minutes‬

Web Class August (A1,A2,A3) Batch 2022 - 28/11/2022
YouTube video   ‪2 hours 6 minutes‬


Announcement: "Class: Verbal - August Batch Start…"
Shivani Neelkanth Gurumitkal
Created Nov 26Nov 26
Class: Verbal  - August Batch
Start Time: November 26, 2022
Meeting Recording link: https://www.youtube.com/watch?v=aQXKRK0S240

Class: Programming - August Batch
Start Time: November 26, 2022
Meeting Recording link: https://www.youtube.com/watch?v=iXPnStFbZ6I


Class: Aptitude - August Batch
Start Time: November 26, 2022
Meeting Recording link: https://www.youtube.com/watch?v=FdbnjEW3ydg

Verbal Class August (Online,A1,A2,A3), September(A1,A2) Batch 2022 - 26/11/2022
YouTube video   ‪2 hours 1 minute‬

Programming Class August (Online,A1,A2,A3) Batch 2022 - 26/11/2022
YouTube video   ‪2 hours 4 minutes‬

Aptitude Class August (Online,A1,A2,A3) Batch 2022 - 26/11/2022
YouTube video   ‪37 minutes‬


Announcement: "Class: Verbal - August Batch Start…"
Shivani Neelkanth Gurumitkal
Created Nov 25Nov 25
Class: Verbal  - August Batch
Start Time: November 25, 2022
Meeting Recording link: https://www.youtube.com/watch?v=jxwnCYJjhRU

Class: Java + Programming - August Batch
Start Time: November 25, 2022
Meeting Recording link: https://www.youtube.com/watch?v=iPV1JLKlO4g

Verbal Class Aug(Online,A1,A2,A3), Sep (A2) Batch 2022 - 25/11/2022
YouTube video   ‪2 hours 12 minutes‬

Java + Programming Class August (Online/Hybrid,A3) Batch 2022 - 25/11/2022
YouTube video   ‪1 hour 54 minutes‬


Announcement: "Class: Java + Programming - August…"
Shivani Neelkanth Gurumitkal
Created Nov 24Nov 24
Class: Java + Programming - August Batch
Start Time: November 24, 2022
Meeting Recording link: https://www.youtube.com/watch?v=KPl36u3a_AQ


Class: Web - August Batch
Start Time: November 24, 2022
Meeting Recording link: https://www.youtube.com/watch?v=ZWzi0f2hHmc

Java + Programming Class August (Online/Hybrid) Batch 2022 - 24/11/2022
YouTube video   ‪2 hours 6 minutes‬

Web Class August (A1,A2,A3) Batch 2022 - 24/11/2022
YouTube video   ‪2 hours 3 minutes‬

Material: "HACKER RANK JAVA SOLUTIONS"
Punith Kumar posted a new material: HACKER RANK JAVA SOLUTIONS
Created Nov 24Nov 24
Material: "Window Builder Eclipse Solution"
Kalididdi Jayarohit Varma posted a new material: Window Builder Eclipse Solution
Created Nov 23Nov 23

Announcement: "Class: Web - August Batch Start Time:…"
Shivani Neelkanth Gurumitkal
Created Nov 23Nov 23
Class: Web - August Batch
Start Time: November 23, 2022
Meeting Recording link: https://www.youtube.com/watch?v=xOyURoJbjns


Class: Java + Programming - August Batch
Start Time: November 23, 2022
Meeting Recording link: https://www.youtube.com/watch?v=DGgN6xMrtV4

Web Class August (A1,A2,A3) Batch 2022 - 23/11/2022
YouTube video   ‪2 hours 6 minutes‬

Java + Programming Class August (Online/Hybrid) Batch 2022 - 23/11/2022
YouTube video   ‪2 hours 6 minutes‬


Announcement: "Class: Java + Programming - August…"
Shivani Neelkanth Gurumitkal
Created Nov 22Nov 22
Class: Java + Programming - August Batch
Start Time: November 22, 2022
Meeting Recording link: https://www.youtube.com/watch?v=M2QQTwl-0tE

Class: Web - August Batch
Start Time: November 22, 2022
Meeting Recording link: https://www.youtube.com/watch?v=JPKN303hjI0

Java + Programming Class August (Online/Hybrid) Batch 2022 - 22/11/2022
YouTube video   ‪2 hours 4 minutes‬

Web Class August (A1,A2,A3) Batch 2022 - 22/11/2022
YouTube video   ‪2 hours 9 minutes‬


Announcement: "Class: Java + Programming - August…"
Shivani Neelkanth Gurumitkal
Created Nov 21Nov 21
Class: Java + Programming - August Batch
Start Time: November 21, 2022
Meeting Recording link: https://www.youtube.com/watch?v=EBLUAv6ZDMM


Class: Web - August Batch
Start Time: November 21, 2022
Meeting Recording link: https://www.youtube.com/watch?v=aUBbqGXaofQ

Java + Programming Class August (Online/Hybrid) Batch 2022 - 21/11/2022
YouTube video   ‪2 hours 28 minutes‬

Web Class August (A1,A2,A3) Batch 2022 - 21/11/2022
YouTube video   ‪2 hours 4 minutes‬

kodnest-csr-2022
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: #111;
    overflow: hidden;
    padding-left: 35rem;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading span{
    color: yellow;
}

.title{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.title span{
    color: yellow;
}

.head{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.head span{
    color: yellow;
}
.pro{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.pro span{
    color: yellow;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid;
}

header .user .nm{
    font-size:2rem;
    color: #fff;
}

header .user .jb{
    font-size:1rem;
    color: #fff;
}

header .nv{
    width: 100%;
}
header .nv ul{
    list-style: none;
    padding: 1rem ;
}

header .nv ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;  
}
header .nv ul li a:hover{
    background-color:yellowgreen;
}

.Details .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Details .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Details .Row .det h3{
    font-size: 2rem;
    color: yellow;
    padding: 1rem 0;
    font-weight: normal;
}

.Details .Row .det h3 span{
    color: #eee;
    padding: 0. 5rem;
}
table,th,td{
    border: 1px solid yellow;
    border-collapse: collapse;
}
td{
    color: white;
    padding: 1rem;
}
th{
    color: white;
    padding: 1rem;
}
table{
    text-align: center;
    margin: 0 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
#lis li{
    margin: 0 9rem;
    color: white;
    font-size: medium;
    padding: .5rem 1rem;
}
.Project .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Project .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Project .Row .det h3{
    font-size: 2rem;
    color: yellow;
    padding: 1rem 0;
    font-weight: normal;
}

.Project .Row .det h3 span{
    color: #eee;
    padding: 0. 5rem;
}
style.css
Displaying style.css.